deckgo-highlight-code {
  font-size: var(--font-size-normal);

  --deckgo-highlight-code-margin-bottom: 0;
  --deckgo-highlight-code-padding: 16px;
  --deckgo-highlight-code-border-radius: 8px;
  --deckgo-highlight-code-background: var(--ion-color-dark);
  --deckgo-highlight-code-color: white;
}
